extends layout

block content

  body
    .container
      .col-md-5
        .borrowers
          img.media-object(src='http://placedog.com/150/150', alt='')
          .caption
            .media-body
                       h3= names
                       h4= country
                    .progress.progress-striped
                      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                        span.sr-only 40% Complete (success)
                  h3= use
                  h4= funded_amount
                  h4= loan_amount
      .row            
        .lend.well.col-md-3
          a.pull-left(href='#')
            img.media-object(src='http://placedog.com/90/100', alt='')
          .caption
            .media-body
             p= use
               p
                a.btn.btn-primary(href='#', role='button') Button
        .lend.well.col-md-3
          a.pull-left(href='#')
            img.media-object(src='http://placedog.com/90/100', alt='')
          .caption
            .media-body
             p= use
               p
                a.btn.btn-primary(href='#', role='button') Button
        .lend.well.col-md-3
          a.pull-left(href='#')
            img.media-object(src='http://placedog.com/90/100', alt='')
          .caption
            .media-body
             p= use
               p
                a.btn.btn-primary(href='#', role='button') Button
        .lend.well.col-md-3
          a.pull-left(href='#')
            img.media-object(src='http://placedog.com/90/100', alt='')
          .caption
            .media-body
             p= use
               p
                a.btn.btn-primary(href='#', role='button') Button
 
 
